<h1>Display your Pirate here</h1>
<div class="pirate">
  <h3>Name: <%=@pirate.name %></h3><br />
  <h4>Weight: <%= @pirate.weight %></h4><br />
  <h4>Height: <%= @pirate.height %></h4>
</div>

<h2>Display your first ship here</h2>
<div class="ship">
  <h3>Name: <%= @all_ships[0].name %></h3><br />
  <h3>Type: <%= @all_ships[0].type %></h3><br />
  <h3>Booty: <%= @all_ships[0].booty %></h3>
</div>

<h2>Display your second ship here</h2>
<div class="ship">
  <h3>Name: <%= @all_ships[1].name %></h3><br />
  <h3>Type: <%= @all_ships[1].type %></h3><br />
  <h3>Booty: <%= @all_ships[1].booty %></h3>
</div>
